/*Global Rules*/

*   {
    margin:0;
    padding:0;
    border:0;
}

#header {
    width:570px;
}

body    {
    position:relative;
    overflow-x: hidden;
    
}

a   {
    color:black;
    text-decoration: none;
}

.body-container  {
    width:100%;
    margin:0 auto;
    height:auto;
    
}

h1  {
    font-family:'Josefin Sans', sans-serif;
    font-size:45px;
    font-weight:700;
    line-height:1.2;
    text-align:center;
    color:white;
    font-style:normal;
    
}

h2  {
    font-family:'Josefin Sans', sans-serif;
    font-size:23px;
    text-align:right;
    position:relative;
    
}

.container  {
    width:97%;
    height:auto;
    margin:0 auto;
    position:relative;
    top:50px;
    display:inline-block;
    
}

br  {
    font-size: 50%;
}

/*Body Content*/

#left-div    {
    height:100%;
    width:50%;
    margin:0;
    position:fixed;
    background-image:url(images/green.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    padding:5% auto;
    
}

#hey-im-daniel  {
    position:relative;
    top:60%;
    width:100%;
    
}

#hey-im-daniel    p   {
    font-family:'Raleway', sans-serif;
    font-size:14.4px;
    text-align:center;
    color:white;
    max-width:460px;
    margin:0 auto;
    padding:10px 40px;
    line-height:1.7;
}

#contact    {
    width:134px;
    margin:18px auto 5px auto;
    position:relative;
    top:59%;
    background-color:rgba(255,255,255,0.4);
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

#contact:hover  {
    background-color:rgba(0,0,0,1);
    
}

#contact_text   {
    font-family:'Josefin Sans', sans-serif;
    font-size:17px;
    text-align:center;
    color:white;
    padding:12px 0px;
}

#social-container   {
    width:400px;
    margin:0 auto;
    text-align: center;
    position:relative;
    top:61%;
}

.social {
    width:19px;
    margin:7px;
}

#right-div  {
    height:100%;
    width:50%;
    float:right;
    margin:0;
    text-align:left;
    display:inline-block;
    
}

.headercontainer    {
    width:22%;
    display:inline-block;
    text-align:center;
    position:relative;
    top:5px;
    margin:0px 0px 0px 20px;
}

.textcontainer  {
    width:70%;
    float:right;
    display:inline-block;
    text-align: center;
    margin:0px 0px 20px 0px;
}

#experience-container1, #experience-container2, #experience-container3  {
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.text  {
    font-family:'Raleway', sans-serif;
    font-size:14.4px;
    text-align:left;
    color:black;
    max-width:360px;
    margin:0 auto;
    padding:5px;
    line-height:1.7;
}


#expand1, #expand2, #expand3 {
    font-family:'Raleway', sans-serif;
    font-size:10px;
    text-align:left;
    color:grey;
    max-width:360px;
    margin:0 auto;
    padding:5px;
    line-height:1.7;
}

.footer{
    height:auto;
    width:100%;
    position:relative;
    text-align: center;
    margin:50 auto 0 auto;
    
}

#home {
    font-size:100px;
    font-family:'Josefin Sans', sans-serif;
    margin:0px auto;
    position:relative;
    max-height:70px;
    
}

#copyright  {
    text-align:center;
    margin:0px auto 25px auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 12px;
    color:black;
    position:relative;
    top:50%;
}

@media screen and (max-width:1000px) {
    #left-div   {
        width:100%;
        position:relative;
        padding:0px;
        height:770px;
        min-height:770px;
        top:-100px;
        
    }
    
    #hey-im-daniel  {
        top:47%;
        padding:0px;
    }
    
    h1  {
        font-size:90px;
        top:
    }
    
    #hey-im-daniel  p   {
        font-size:18.4px;
        max-width:600px;

    }
    
    #right-div  {
        width:100%;
        position:relative;
        top:-130px;
        
    }
    
    .container  {
        width:100%;
        top:50px;
        margin:0px auto 0px 3px;
        text-align: center;
        
    }
    
    .headercontainer    {
        width:90%;
        margin:49px auto 15px auto;
        text-align:center;
        
    }
    
    .textcontainer  {
        width:90%;
        margin:0 auto;
        float:none;
        
    }
    
    .text  {
        font-size:18.4px;
        min-width:100%;
    }
    
    h2  {
        font-size:59px;
        text-align:left;

    }
    
    #contact    {
        top:47%;
        
    }
    
    #social-container    {
        top:50%;
    }
     
}

@media screen and (max-width:600px) {
    #left-div   {
        height:970px;
        min-height:970;
        top:-220px;
    }
    
    #right-div  {
        top:-220px;
        
    }
    
    h2  {
        top:0px;
        
    }
    
}

@media screen and (max-width:588px) {
    #left-div   {
        height:1020px;
        min-height:1020;
    }
    
    h2  {
        top:8px;
    }
    
    #hey-im-daniel  p   {
        font-size:18.4px;

    }
    
    
}

@media screen and (max-width:467px) {
    #left-div   {
        height:1070px;
        min-height:1070;
    }
    
    
    #hey-im-daniel  p   {
        font-size:18.4px;
        min-width:316px;

    }
    
    
}


