/*-------Global Rules-------*/
* {
    margin:0;
    padding:0;
    border:0;
}

html {
    height:100%;
    overflow-x:hidden;
}

body {
    height:100%;
    width:100%;
    overflow-x:hidden;
}

.body-container {
    height:100%;
    width:100%;
}

section {
    height:1000px;
}

em {
    font-style: normal;
    font-weight: bold;
    color:rgba(96,188,87,1);
}

a {
    text-decoration: none;
}
/*-------Intro (Left)-------*/
.intro {
    width:50%;
    float:left;
    height:100%;
    background-image:url("images/green.jpg");
    background-position:center;
    position:fixed;
    background-size:cover;
    background-repeat: no-repeat;
    text-align:center;
}

.intro-container {
    text-align:center;
    height:auto;
    position:relative;
    top:377px;
    margin:30px auto;
    padding:10px;
}

.intro-text {
    color:white;
    font-family:"Montserrat",sans-serif;
    font-weight:300;
    padding:20px 10px 0px 10px;
    max-width:500px;
    margin:0 auto;
    font-size:20px;
}

h1.intro-text {
    font-size:30px;
    font-weight:800;
}

.button {
    font-family:"Montserrat", sans-serif;
    font-weight:300;
    font-style:none;
    color:white;
    padding:13px 0px;
    width:150px;
    margin:25px auto 25px auto;
    background-color:rgba(96,188,87,1);
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.button:hover {
    background-color:rgba(28,28,28,0.9);
}

.social-container {
    margin:0px auto;
}

.social {
    width:25px;
    margin:4px;
}

/*-------Content (Right)-------*/
.content {
    width:50%;
    float:right;
    height:100%;
    background-color:white;
    text-align:center;
}

.content-container {
    text-align:left;
    height:auto;
    position:relative;
    margin:25px 0px;
    padding:10px;
    display:inline-block;
    width:90%;
}

.content-left {
    float:left;
    clear:right;
    width:25%;
    text-align:right;
}

.content-right {
    float:right;
    width:70%;
    max-width:577px;
    padding-left:5%;

}

.content-inner-container {
    width:100%;
}

.content-text {
    color:black;
    font-family:"Raleway",sans-serif;
    font-weight:200;
    padding:10px 10px 0px 10px;
    font-size:15px;
}

.experience-text1, .experience-text2, .experience-text3 {
    color:black;
    font-family:"Raleway",sans-serif;
    font-weight:200;
    font-size:15px;
    margin:0px 0px 0px 10px;
    padding:10px 0px 10px 0px;
}

h1.content-text {
    color:black;
    font-family:"Montserrat",sans-serif;
    font-weight:800;
    padding:20px 10px 0px 10px;
    font-size:15px;
}

.header-content-text {
    color:black;
    font-family:"Montserrat",sans-serif;
    font-weight:300;
    padding:20px 10px 0px 10px;
    font-size:15px;
}

/*-------Responsive Mobile Design Code-------*/
@media screen and (max-width:800px) {
    .intro {
        min-width:100%;
        height:800px;
        position:relative;
    }

    .intro-container {
        width:100%;
        top:300px;
    }

    .inner-container {
        width:100%;
    }

    .content {
        width:100%;

    }

    .intro-text {
        max-width:800px;
        padding:20px 37px 0px 37px;

    }

    h1.intro-text {
        font-size:70px;
    }

    p.intro-text {
        font-size:30px;
    }

    .content-text, .header-content-text, h1.content-text {
        font-size:18px;
    }

    .content-left {
        width:100%;
        text-align:left;
    }

    .content-text, h1.content-text {
        font-size:25px;
    }

    .content-right {
        width:100%;
        float:left;
        max-width:2000px;
        padding-left:0px;
    }

    .experience-text1, .experience-text2, .experience-text3 {
        color:black;
        font-family:"Raleway",sans-serif;
        font-weight:200;
        font-size:20px;
        margin:0px 0px 0px 10px;
        padding:10px 0px 10px 0px;
    }

    #expand1, #expand2, #expand3 {
        font-size:15px;
    }

@media screen and (max-width:588px) {
    .intro {
        height:850px;
    }

    .intro-container {
        top:320px;
    }

}

@media screen and (max-width:534px) {
    .intro {
        height:900px;
    }

    .intro-container {
        top:340px;
    }

@media screen and (max-width:468px) {
    .intro {
        height:900px;
    }

    .intro-container {
        top:240px;
    }

@media screen and (max-width:433px) {
    .intro-container {
        top:200px;
    }

@media screen and (max-width:397px) {
    .intro-container {
        top:160px;
    }

@media screen and (max-width:369px) {
    .intro {
        height:900px;
    }

    .intro-container {
        top:220px;
    }

    p.intro-text {
        font-size:25px;
    }

    h1.intro-text {
        font-size:35px;
    }


}
