/*Global Rules*/

*   {
    margin:0;
    padding:0;
    border:0;
}

#header {
    width:500px;
}

body    {
    position:relative;
    overflow-x: hidden;
    
}

a   {
    color:black;
    text-decoration: none;
}

.body-container  {
    width:100%;
    margin:0 auto;
    height:auto;
    
}

h1  {
    font-family:'Josefin Sans', sans-serif;
    font-size:50px;
    font-weight:100;
    line-height:1.2;
    text-align:center;
    color:white;
    
}

h2  {
    font-family:'Josefin Sans', sans-serif;
    font-size:25px;
    text-align:right;
    position:relative;
}

.container  {
    width:97%;
    height:auto;
    margin:0 auto;
    position:relative;
    top:50px;
    display:inline-block;
    
}

br  {
    font-size: 50%;
}

/*Body Content*/

#left-div    {
    height:100%;
    width:50%;
    margin:0;
    position:fixed;
    background-image:url(images/green.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    padding:5% auto;
}

#hey-im-daniel  {
    position:relative;
    top:60%;
    
}

#heyimdaniel,    p   {
    font-family:'Raleway', sans-serif;
    font-size:16px;
    text-align:center;
    color:white;
    max-width:400px;
    margin:0 auto;
    padding:10px 40px;
    line-height:1.7;
}

#contact    {
    width:150px;
    margin:22px auto 5px auto;
    position:relative;
    top:59%;
    background-color:rgba(255,255,255,0.4);
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

#contact:hover  {
    background-color:rgba(0,0,0,1);
    
}

#contact_text   {
    font-family:'Josefin Sans', sans-serif;
    font-size:19px;
    text-align:center;
    color:white;
    padding:7px 0px;
}

#social-container   {
    width:400px;
    margin:0 auto;
    text-align: center;
    position:relative;
    top:61%;
}

.social {
    width:16px;
    margin:5px;
}

#right-div  {
    height:100%;
    width:50%;
    float:right;
    margin:0;
    text-align:left;
    display:inline-block;
    
}

.headercontainer    {
    width:24%;
    display:inline-block;
    text-align:center;
    position:relative;
    top:5px;
    margin:0px 0px 0px 20px;
}

.textcontainer  {
    width:70%;
    float:right;
    display:inline-block;
    text-align: center;
    margin:0px 0px 40px 0px;
}

.text  {
    font-family:'Raleway', sans-serif;
    font-size:16px;
    text-align:left;
    color:black;
    margin:0 auto;
    padding:5px;
    line-height:1.7;
}

@media screen and (max-width:1000px) {
    #left-div   {
        width:100%;
        position:relative;
    }
    
    #right-div  {
        width:100%;
        position:relative;
        
    }
    
    .container  {
        top:40px;
    }
     
}

@media screen and (max-width:530px) {
    h2  {
        font-size:20px;
        top:4px;
    }

    .headercontainer    {
        top:4px;   
    }
}

